@import "../../../styles/variables";

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
  max-width: 600px;
  padding: 0 40px;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

.form {
  width: 100%;

  .input {
    min-width: 100%;
    margin-bottom: 10px;
  }

  .message {
    .forgotPass {
      text-align: right;
      color: $app-brand-color;
      cursor: pointer;
    }
  }
}

.notRegistred {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $border-color-1;
  position: absolute;
  bottom: 0;
  width: 100vw;

  a {
    color: $app-brand-color;
    text-decoration: none;
  }
}

.button {
  margin-top: 30px;
}