@import "fonts";
@import "variables";
@import "custom-elements";


body {
  margin: 0;
  padding: 0;
  background-color: $bg-main-color;
  color: $default-text-color;
  font-family: Roboto, sans-serif;
  //overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 0;
  }

}
