//цвет фона
$bg-main-color: #1F2833;
//цвет приложения
$app-brand-color: #9E08FD;
//цвет фона поста
$post-bg-color: #2D3640;
//цвет текста светлый
$defaul-text-color: #F2F2F2;
//цвет линий, неактивынх вкладок, рамок поста
$borders-color: #586F8D;