//цвет фона
$bg-color-1: #101012;
//цвет фона
$bg-color-2: #1F1F22;
//цвет приложения
$app-brand-color: #9E08FD;
//цвет фона поста
$post-bg-color: #1F1F22;
//цвет фона инпутов
$input-bg-color: #1F1F22;
//цвет текста светлый
$text-light-1: #F2F2F2;
//цвет текста светлый2
$text-light-2: #D0DFFF;
//цвет текста светлый3
$text-light-3: rgba(242, 242, 242, 0.7);
//цвет линий, неактивынх вкладок, рамок поста
$border-color-1: $bg-color-2;
//цвет линий, неактивынх вкладок, рамок поста
$border-color-2: $bg-color-1;
//цвет красного текста
$error-text-color: #F46463;
//цвет красного фона
$error-bg-color: #E9D2D2;
//цвет зеленого текста
$access-text-color: #22BA59;
//цвет зеленого текста
$access-bg-color: #C7E0D0;