@import '../../styles/variables';
@import '../../styles/icons';

.EventContainer {
  position: relative;
  max-width: 600px;

  a {
    text-decoration: none;
    display: block;
    color: $default-text-color;
  }


  .author {
    bottom: 7px;
    left: 10px;
    position: absolute;
    display: flex;

    .image {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-color: grey;
    }
  }
}

.Event {
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  background-color: $post-bg-color;
  font-size: 14px;
}

.photo {
  border-radius: 12px;
  background-color: #C3C0C0;
  width: 100%;
  height: 160px;
  background-size: cover;
}

.title {
  margin: 12px 0 0 10px;
  font-family: Rostov, sans-serif;
  font-size: 24px;
}

.placePeople {
  margin: 14px 10px 0 10px;
  display: flex;
  justify-content: space-between;

  .people {
    display: flex;

    .participate {
      margin-right: 4px;
    }

    .count {
      margin-right: 4px;
    }
  }
}

.date {
  margin-top: 10px;
  border-top: 1px solid $borders-color;
  padding: 9px 10px;
  text-align: right;
}