@import "../styles/variables";
@import "../styles/global";
@import "../styles/icons";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-main-color;
  font-family: Roboto, sans-serif;
  color: $defaul-text-color;
}