@import "../styles/global";

.main {

  &.extraSpaceMain {
    margin-left: 250px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-bottom: 65px;

    &.extraSpaceMain {
      margin-left: 0;
    }
  }
}