@import "../../styles/variables";

.page {
  max-width: 600px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.title {
  margin-top: 30px;
  text-align: center;
  position: relative;

  .action {
    position: absolute;
    left: 0;
  }

  .main-text {
    font-size: 24px;
    font-family: Rostov, sans-serif;
    margin-bottom: 10px;
  }

  .descr {
    font-size: 14px;
    max-width: 230px;
    margin: 0 auto;
  }
}

.inputs {
  div {
    margin-top: 25px;
    position: relative;

    .error {
      color: $error-color;
      position: absolute;
      top: 17px;
      left: 10px;
    }
  }
}


.button {
  margin-top: 30px;
}