/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/Main.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.event {
  margin-top: 20px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/event/Event.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.people-icon {
  width: 18px;
  height: 17px;
  background-image: url(/_next/static/media/people.f61c0e4a.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.Event {
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  background-color: #2D3640;
  font-size: 14px;
}

.photo {
  border-radius: 12px;
  background-color: #C3C0C0;
  width: 100%;
  height: 160px;
}

.title {
  margin: 12px 0 0 10px;
  font-family: Rostov, sans-serif;
  font-size: 24px;
}

.place-people {
  margin: 14px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
.place-people .people {
  display: flex;
}
.place-people .people .participate {
  margin-right: 4px;
}
.place-people .people .count {
  margin-right: 4px;
}

.author-date {
  margin-top: 10px;
  border-top: 1px solid #586F8D;
  padding: 9px 10px;
  display: flex;
  justify-content: space-between;
}
.author-date .author {
  display: flex;
}
.author-date .author .image {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: grey;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/layout/main-header/Main-header.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #586F8D;
  background-color: #1F2833;
}
.Header.hide {
  transform: translateY(-100%);
}
.Header .logo {
  color: white;
  display: flex;
  align-items: center;
}
.Header .message {
  padding: 10px 10px 10px 0;
  display: flex;
  align-items: center;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/message-icon/MessageIcon.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Message-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
