@import "../../styles/variables";

.Navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0;
  background-color: $bg-main-color;

  .link {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: $default-text-color;
    cursor: pointer;

    svg {
      flex-shrink: 0;
    }

    &.active {
      background-color: $post-bg-color;
      border-radius: 15px;
      color: $app-brand-color;

      &.base {
        svg > * {
          stroke: $app-brand-color;
          fill: $app-brand-color;
        }
      }

      &.accurate {
        svg {
          rect:first-child {
            fill: $app-brand-color;
            stroke: $app-brand-color;
          }

          rect:nth-child(2) {
            stroke: $bg-main-color;
            fill: $bg-main-color;
          }

          rect:nth-child(3) {
            stroke: $bg-main-color;
            fill: $bg-main-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .Footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: $bg-main-color;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $borders-color;

    .link {
      padding: 12px 10px;

      &.active {
        &.base {
          svg > * {
            stroke: $app-brand-color;
            fill: $app-brand-color;
          }
        }

        &.accurate {
          svg {
            rect:first-child {
              fill: $app-brand-color;
              stroke: $app-brand-color;
            }

            rect:nth-child(2) {
              stroke: $bg-main-color;
              fill: $bg-main-color;
            }

            rect:nth-child(3) {
              stroke: $bg-main-color;
              fill: $bg-main-color;
            }
          }
        }
      }
    }
  }
}